@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Simonetta&family=Ubuntu&display=swap');

*{
margin:0;
font-family: 'Koulen', cursive;
font-family: 'Simonetta', cursive;
font-family: 'Ubuntu', sans-serif;
}

.TopBarHeader{
display: flex;
justify-content: space-between;
background-color: #F7ECDE;

}

h1{
margin: 0;
}

.moreinfotabs{
  display: flex;
  justify-content: flex-end;
  justify-content: space-between;
  width: 20%;
  margin-top: 10px;
}

.ProfileDescription{
  display: flex;
  height: 500px;
  background-color: #F7ECDE;
}

.leftsidebio{
  background-size: cover;
  width: 50%;
  background-image: url("https://images.unsplash.com/photo-1565127803082-69dd82351360?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2071&q=80");
}

.leftsidebio > h3 {
  text-align: center;
  margin-top: 30%;
  font-size: 30px;
  color: white
}

img{
  height:61vh;
  display: block;
  margin-left: 50%;
}